:root {
    --color-bug: #A7B820;
    --color-dark: #705848;
    --color-dragon: #7038F8;
    --color-electric: #F8D030;
    --color-fairy: #EE99AC;
    --color-fighting: #BF3028;
    --color-fire: #F18030;
    --color-flying: #A990F0;
    --color-ghost: #705897;
    --color-grass: #78C850;
    --color-ground: #E0C068;
    --color-ice: #98D8D8;
    --color-normal: #A8A878;
    --color-poison: #8435B4;
    --color-psychic: #F85888;
    --color-rock: #B8A038;
    --color-steel: #B8B8D0;
    --color-water: #6990F0;
    --color-active-type: var(--color-bug);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-image: url(./img/pokeball_white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: var(--color-active-type);
    border: 2px solid white;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    gap: 16px;
}

/* LIST VIEW */

#pkmn-list {
    overflow-y: auto;
}

.pkmn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    overflow-y: auto;
    width: 100%;
}

.pkmn-list-item {
    list-style: none;
    cursor: pointer;
}

.pkmn-list-item:hover {
    transform: scale(1.05);
}

.pkmn-card {
    /* height: 80px; */
    width: 300px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 8px 16px;
    position: relative;
    /* gap: 8px; */
}

.pkmn-card-number {
    font-weight: 700;
}

.pkmn-card-name-type-container {
    margin-left: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pkmn-card-name {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    /* position: absolute; */
    top: 12px;
}

.pkmn-type-container {
    display: flex;
    gap: 8px;
    /* position: absolute; */
    /* bottom: 12px; */
    font-size: 12px;
}

.type {
    padding: 4px 8px;
    border-radius: 50rem;
    filter: brightness(1.1);
    color: white;
    font-weight: 700;
    width: fit-content;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 3px;
}

.pkmn-card-image {
    position: absolute;
    right: 16px;
    height: 80px;
    z-index: 1;
}


.svg-pokeball-white path{
    opacity: 25%;
}


/* POPUP - DETAIL VIEW */

.popup-container {
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.popup-detail-view {
    /* background-color: white; */
    background: radial-gradient(circle at center, rgb(255 255 255 / 45%) 0%,rgb(255 255 255 / 0%) 100%);;
    mix-blend-mode: hard-light;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: 32px 0px 0;
    overflow: hidden;
    position: relative;
}

/* .popup-detail-view:after {
    position: absolute;
    content:"";
    height:50%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(to top, rgba(255,0,0,0) 0%,rgba(255, 255, 255, 0.65) 100%);
    mix-blend-mode: multiply;
} */

/* POPUP HEADER */
.popup-dv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.popup-dv-number {
    font-weight: 700;
    color: white;
}

/* POPUP TOP CONTAINER */
.popup-dv-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 700;
    gap: 16px;
    margin-top: 24px;
}

.popup-dv-pkmn-name {
    font-size: 32px;
    text-transform: capitalize;
}

.popup-dv-pkmn-types-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.popup-dv-image-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 160px);
    z-index: 3;
    gap: 50px;
}

.popup-dv-pkmn-image {
    height: 160px;
}

/* POPUP INFO CONTAINER */

.popup-dv-info-container {
    background-color: white;
    border-radius: 24px;
    height: calc(50% + 24px);
    width: 100%;
    position: absolute;
    top: calc(50% - 24px);
    padding: 24px 24px 24px;
}

.popup-dv-info-nav {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 4px;
}

.nav-menu-item {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    padding: 8px;
    border-radius: 10px;
    /* padding-bottom: 6px; */
    /* border-bottom: 2px solid transparent; */
    /* transition: border-bottom ease-in-out 75ms; */
    background-color: white;

    text-decoration: none;
    font-size: 14px;
}

.nav-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.active {
    /* border-bottom: 2px solid blue; */
    /* background-color: blue; */
    color: white;
    background-color: var(--color-active-type);
}

.popup-dv-info-slider {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: calc(100% - 24px);
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
}

.popup-dv-info-slider::-webkit-scrollbar {
    display: none;
}

.popup-dv-info-slide {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    padding: 16px 0 0 0;
    flex: 1 0 100%;
    scroll-snap-align: start;
    overflow-y: auto;
}

.popup-dv-info-slide caption {
    text-align: left;
    margin: 8px 0;
    font-weight: 700;
}

.popup-dv-info-slide table {
    width: 100%;
}

.popup-dv-info-slide td {
    padding: 4px 0;
}

.popup-dv-info-slide .category {
    color: rgba(0, 0, 0, 0.5);
    padding-right: 8px;
}

.popup-dv-info-slide .info {
    padding-right: 8px;
    text-transform: capitalize;
}

/* About */

.flavor-text {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.gender-info {
    display: flex;
    align-items: center;
}

.gender-info img {
    height: 16px;
}
/* Base Stats */
.popup-dv-info-slide .bar {
    width: 100%;
}

.popup-dv-info-slide .bar-border {
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.popup-dv-info-slide .bar-fill {
    width: 0%;
    height: 100%;
    border-radius: 8px;
    transition: width ease-in-out 0.75ms;
}

.popup-dv-info-slide .total {
    font-weight: 700;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}


/* Evolution */

.evolution-base,
.evolution-trigger,
.evolves-to {
    text-align: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.evolution-image {
    height: 60px;
    width: fit-content;
}

.evolution-image:hover {
    background-image: url(./img/pokeball_white.svg);
    background-blend-mode: unset;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
}

.evolution-name {
    font-size: 12px;
    text-transform: capitalize;
}

.evolution-trigger {
    font-size: 12px;
    text-transform: capitalize;
}

.trigger {
    color: black;
    text-transform: capitalize;
    font-size: 16px;
}

.party-species-img,
.trade-species-img {
    height: 40px;
}

.party-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Moves */

.move-name {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.move-stats-container,
.move-type-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.move-power {
    background-color: rgba(0, 0, 0, 0.2);
    /* color: white; */
    /* font-weight: 700; */
    padding: 4px 8px;
    border-radius: 50rem 0 0 50rem;
    width: 40px;
    text-align: center;
}

.move-accuracy {
    background-color: rgba(0, 0, 0, 0.2);
    /* color: white; */
    /* font-weight: 700; */
    padding: 4px 8px;
    border-radius: 0px 50rem 50rem 0px;
    width: 40px;
    text-align: center;
}

.popup-dv-info-slide .move-type {
    max-width: fit-content;
}

.damage-category {
    padding: 4px 8px;
    border-radius: 50rem;
    /* filter: brightness(1.1); */
    color: white;
    font-weight: 700;
    width: fit-content;
    background-color: rgba(255, 0, 0, 0.5);
}

/* GENERAL CLASSES */
.d-none {
    display: none;
}

/* Pokemon Type Colors */

.bug {
    background-color: #A7B820;
}

.dark {
    background-color: #705848;
}

.dragon {
    background-color: #7038F8;
}

.electric {
    background-color: #F8D030;
}

.fairy {
    background-color: #EE99AC;
}

.fighting {
    background-color: #BF3028;
}

.fire {
    background-color: #F18030;
}

.flying {
    background-color: #A990F0;
}

.ghost {
    background-color: #705897;
}

.grass {
    background-color: #78C850;
}

.ground {
    background-color: #E0C068;
}

.ice {
    background-color: #98D8D8;
}

.normal {
    background-color: #A8A878;
}

.poison {
    background-color: #8435B4;
}

.psychic {
    background-color: #F85888;
}

.rock {
    background-color: #B8A038;
}

.steel {
    background-color: #B8B8D0;
}

.water {
    background-color: #6990F0;
}
